nav {
  position: relative;
  background-color: #011327;
  font-family: "Lexend", sans-serif;
  padding: 20px;
  border-bottom: 1px solid #223142;
}
nav > * {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
nav ul {
  list-style: none;
}
nav .navbar-logo img {
  width: 120px;
  height: 67px;
}
nav .navbar-menu {
  position: relative;
}
nav .navbar-menu li {
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
nav .navbar-menu li span {
  color: #616AF9;
}
nav .navbar-menu li a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  transition: color 0.3s ease;
}
nav .navbar-menu li a:hover {
  color: #616AF9;
}
nav .navbar-menu li:hover .dropdown-menu, nav .navbar-menu li:focus-within .dropdown-menu {
  display: block;
}
nav .navbar-menu li:hover::after, nav .navbar-menu li:focus-within::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  height: 40px;
  pointer-events: auto;
}
nav .navbar-menu li .dropdown-menu {
  position: absolute;
  top: calc(100% + 40px);
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 10px 0;
  display: none;
  min-width: 180px;
  z-index: 10;
  border: none;
  border-radius: 0;
}
nav .navbar-menu li .dropdown-menu li a {
  color: #000;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  transition: color 0.3s ease;
  white-space: nowrap;
}
nav .navbar-menu li .dropdown-menu li a:hover {
  color: #616AF9;
}
nav .navbar-actions i {
  font-size: 24px;
  color: #fff;
}
nav .navbar-actions .btn-get-started {
  position: relative;
  overflow: hidden;
  background-color: #0DC9AC;
  border: none;
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1;
}
nav .navbar-actions .btn-get-started::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #616AF9;
  z-index: -1;
  transition: width 0.4s ease;
}
nav .navbar-actions .btn-get-started:hover {
  color: #fff;
}
nav .navbar-actions .btn-get-started:hover::before {
  width: 100%;
}

.hero {
  background-color: #011327;
  height: 200px;
}
.hero .hero-title {
  font-size: 90px;
  color: #fff;
}
.hero .hero-title .h1-img {
  border-radius: 100px;
  width: 160px;
  height: 73px;
}

header {
  background-color: #04182F;
  color: #DDDDDD;
  font-family: "Lexend", sans-serif;
  font-size: 14px;
}
header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .left-side {
  flex: 0 0 40%;
  display: flex;
  gap: 20px;
  margin-left: -65px;
}
header .right-side {
  flex: 0 0 70%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}
header ul {
  list-style: none;
}
header ul.left-menu {
  list-style: disc;
}
header ul.left-menu li::marker {
  color: #0DC9AC;
}
header ul span {
  color: #0CBFA3;
}
header ul li {
  cursor: pointer;
}
header .info-menu li {
  position: relative;
  padding: 0 5px;
}
header .info-menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4px;
  height: 20px;
  background-color: #fff;
}/*# sourceMappingURL=main.css.map */