.case-study-marquee {
  overflow: hidden;
  white-space: nowrap;

  .marquee-inner {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 50s linear infinite;

    span {
      color: transparent;
      -webkit-text-stroke: 1px #E5E6E8;
      font-size: 100px;
      font-size: clamp(30px, 6vw, 100px);
      font-weight: 700;
      letter-spacing: 3px;
      font-family: 'Lexend', sans-serif;
      text-transform: uppercase;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}