.count-content {
    font-family: $global-font-family;

    svg {
        color: #F5F6F7;
    }

    .container {
        background-color: #04182F;
        padding: 1rem 1rem;
    }

    .logo {
        width: 70px;
        height: 70px;
        background-color: $font-color-green;
    }

    .count-number {
        color: #F5F6F7;
        font-size: clamp(28px, 4vw, 40px);
    }

    .count-text {
        color: #D5D5D6;
    }

    @media (max-width: 767.98px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
}