.faqs {
    font-family: $global-font-family;

    .faqs-title {
        h5 {
            color: $font-color-green;
            font-size: 18px;
        }

        h1 {
            font-size: clamp(25px, 5vw, 46px);
        }
    }

    .accordion-button {
        position: relative;
        padding-right: 50px;
        background-color: #04182E;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        font-size: 20px;

        &::after {
            display: none !important;
        }

        &:focus {
            box-shadow: none;
        }

        .icon {
            stroke: #DDDFE1;
            transition: stroke 0.3s ease, border-color 0.3s ease;
        }

        .icon-plus,
        .icon-minus {
            border: 2px solid $font-color-green;
            border-radius: 50%;
            padding: 2px;
            box-sizing: content-box;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .icon-plus {
            display: inline-block;
        }

        .icon-minus {
            display: none;
        }

        &.collapsed {
            .icon-plus {
                display: inline-block;
                stroke: #DDDFE1;
                border-color: white;
            }

            .icon-minus {
                display: none;
            }
        }

        &:not(.collapsed) {
            border-color: $font-color-green;

            .icon-plus {
                display: none;
            }

            .icon-minus {
                display: inline-block;
                stroke: $font-color-green;
                border-color: $font-color-green;
            }
        }
    }

    .accordion-body {
        background-color: #04182E;
        padding: 1rem 1.25rem;
        position: relative;
        font-size: 16px;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #243851;
        }
    }

    .accordion-item {
        position: relative;
        border: none;
        border-radius: 0;
        margin-bottom: 0;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #1B2A3B;
        }

        &.active::after {
            opacity: 0;
        }
    }
}