header {
    background-color: #04182F;
    color: #DDDDDD;
    font-family: $global-font-family;
    font-size: 14px;

    ul {
        list-style: none;

        &.left-menu {
            list-style: disc;

            li {
                &::marker {
                    color: #0DC9AC;
                }
            }
        }

        span {
            color: #0CBFA3;
        }

    
    }

}