.hero {
    background-color: #011327;
    padding: 100px 0px 120px;

    .hero-title {
        font-size: 90px;
        color: #fff;
        font-weight: 800;

        .h1-img {
            border-radius: 100px;
            width: 160px;
            height: 73px;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;

            >div:first-child {
                order: 1;
                width: 100%;
            }

            >div:last-child {
                order: 2;
                margin-top: 20px;
                align-self: center;
                width: 100%;
                display: flex;
                justify-content: center;
                
            }
        }
    }

    .play-button {
        position: relative;
        background-color: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
      
        i {
          font-size: 45px;
          color: $font-color-green;
          z-index: 20;
          position: relative;
        }
      
        &::before {
          content: "";
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: rgba(144, 148, 152, 0.7);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.5;
          animation: pulseCircle 2s infinite ease-out;
          z-index: 5;
        }
      
        @media (max-width: 992px) {
          width: 70px !important;
          height: 70px !important;
          border-radius: 50% !important;
      
          &::before {
            width: 70px !important;
            height: 70px !important;
            border-radius: 50% !important;
          }
      
          i {
            font-size: 30px !important;
          }
        }
      
        @media (max-width: 576px) {
          width: 60px !important;
          height: 60px !important;
          border-radius: 50% !important;
      
          &::before {
            width: 60px !important;
            height: 60px !important;
            border-radius: 50% !important;
          }
      
          i {
            font-size: 20px !important;
          }
        }
      }
      

    @keyframes pulseCircle {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0.5;
        }

        70% {
            transform: translate(-50%, -50%) scale(2.2);
            opacity: 0;
        }

        100% {
            transform: translate(-50%, -50%) scale(2.2);
            opacity: 0;
        }
    }

    .hero-main-photo {
        img {
            width: 1272px;
            height: 700px;
            object-fit: cover;
        }
    }

    .hero-banner {
        background-color: $font-color-green;
        overflow: hidden;
        white-space: nowrap;
        position: relative;

        .banner-text {
            display: inline-block;
            padding: 15px 0;
            color: #fff;
            font-weight: 800;
            font-weight: bold;
            animation: slideText 25s linear infinite;
            font-size: 50px;
        }
    }

    @keyframes slideText {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .hero-background {
        position: relative;
        width: 50px;
        perspective: 1000px;

        img {
            width: 100%;
            height: auto;
            transform-style: preserve-3d;
        }

        img:nth-child(1) {
            animation: spinYReverse 5s linear infinite;
            filter: grayscale(1) brightness(0) saturate(100%) invert(23%) sepia(23%) saturate(415%) hue-rotate(163deg) brightness(83%) contrast(90%);
        }

        img:nth-child(2) {
            animation: spinXReverse 5s linear infinite;
            margin-left: 900px;
            margin-top: -200px;
        }
    }

    @keyframes spinYReverse {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(-360deg);
        }
    }

    @keyframes spinXReverse {
        0% {
            transform: rotateX(0deg);
        }

        100% {
            transform: rotateX(-360deg);
        }
    }

    @media (max-width: 992px) {
        .hero-background img {
            display: none;
        }
    }
}