.newslatter {
    font-family: $global-font-family;
    background-image: url(/images/sb-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 478px;
    position: relative;
    display: flex;
    align-items: center;

    span {
        color: $font-color-green;
        font-size: 18px;
    }

    h2 {
        color: #FBFBFC;
        font-size: clamp(25px, 5vw, 50px);
        text-align: left;
        max-width: 800px;
    }

    .input-group {
        max-width: 600px;
        margin: 0 auto;
        gap: 30px;
        margin-left: -5px;

        input {
            height: 70px;
            border: none;
            padding: 0 1rem;
            color: #011327;
            border-right: none;
            transition: all 0.3s ease;
            background-color: #F5F5F5;

            &:hover {
                border: 1.5px solid $font-color-green;
                box-shadow: none;
            }

            &::placeholder {
                color: #011327;

            }

            &:focus {
                outline: none;
                border: 1.5px solid $font-color-green;
                box-shadow: none;
                background-color: #F5F5F5;
            }
        }

        .input-button {
            background-color: $font-color-green;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1.2rem;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease;

            svg {
                color: #fff;
                position: relative;
                z-index: 2;
                transition: all 0.3s ease;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: $font-color-purple;
                transition: all 0.4s ease;
                z-index: 1;
            }

            &:hover::before {
                left: 0;
            }
        }

    }
}